*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: linear-gradient(
    135deg,
    #111924,
    #1d1055,
    #3a2f7a,
    #1f6fa3
    );
}

section{
  scroll-margin-top: 70px;
}
a{
    color: rgb(254, 249, 249);
    text-decoration: none;
    font-weight: 500;
}

/*header*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(15, 42, 42, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255,255,255,0.08);

    padding: 13px;

    position: fixed;
    top: 0px;
    z-index: 1000;
    left: 0;
    right: 0;
}
#logo a{
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    text-shadow: #dff2f2;
}
.nav-links{
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(187, 187, 187);
}
.nav-links a:hover{
    text-decoration: underline;
    opacity: .70;  /*au lieu de font-weight: lighter;*/
}


/*main*/
main{
  padding-top: 80px; 
}

.section-titre{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e5f9ff;
    margin-left: 10px;
    margin-bottom: 15px;
    position: relative;
}
.section-titre::after{
    content: "";
    width: 80px;
    height: 3px;
    background: #38bdf8;
    display: block;
    margin-left: 33px;
    margin-top: 5px;
    border-radius: 2px;
}

/* About */
.about-container{
    color: #929297;
    display: grid;
    grid-template-areas: 
    "pic-cv"
    "nom"
    "stage"
    "intro"
    "longue";
}
.photo-cv{
    grid-area: pic-cv;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.titre-nom{
    grid-area: nom; 
}
.titre-stage{
    grid-area: stage;
}
.introduction{
    grid-area: intro;
}
.longue{
    grid-area: longue;
}

.photo{
    grid-column: 2;
}
.photo img {
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10%;
    object-fit: cover;
    height: 255px;
    box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.35),
    0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.photo img:hover {
  transform: translateY(-6px);
  box-shadow:
    0 18px 45px rgba(0, 0, 0, 0.45),
    0 6px 15px rgba(0, 0, 0, 0.25);
}
.cv{
    grid-column: 3;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
}
.cv i{
    font-size: 30px;
    color: #c7e9f3;
}
.cv a{
    margin-top: 2px;
}
.titre-nom h1{
    margin-bottom: 5px;
    letter-spacing: 3px;
    color: #e4e4e4;
}
.titre-stage h2{
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}
.titre-nom:hover h1{
    color: #e8ffff;
    text-shadow: 0 4px 12px rgba(56, 189, 248, 0.8);
    transition: all 0.3s ease-in-out;
}
.importent-word-1{
    color: #c3c6ccee;
    transition: color 0.3s ease;
}
.titre-stage:hover .importent-word-1{
    color: #c7dbe0;
    text-decoration: underline;
}
.introduction{
    font-size: 19px;
    max-width: 1000px;
    margin: 0 auto;
}
.introduction:hover .importent-word-2{
    color: #c7dbe0;
}
.titre-nom,.titre-stage,.introduction{
    text-align: center;
    padding: 0px;
}
.longue-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.longue-card{
    background: #dff2f2;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    color: #032f66;
}
.longue-card:hover{
    background-color: rgb(62, 8, 148);
    color: rgb(197, 230, 231);
    transition: 1s;
}

/*education*/
.formation-container{
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "formation1 formation1 vide1"
    "vide2 formation2 formation2"
    "formation3 formation3 vide3";
    gap: 40px;
}
.formation-card-1{
    grid-area: formation1;
}
.formation-card-2{
    grid-area: formation2;
}
.formation-card-3{
    grid-area: formation3;
}
.formation-vide-1{
    grid-area: vide1;
}
.formation-vide-2{
    grid-area: vide2;
}
.formation-vide-3{
    grid-area: vide3;
}
.formation-card{
    background-color: rgb(208, 223, 244);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #2a274e;
}

/*skills*/
.skills-box h3{
    font-size: 22px;
    font-weight: 600;
    color: #c7e9f3;
    margin-left: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.skills-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 190px));
    gap: 15px;
    justify-content: center;
}
.skill-card{
    height: 230px;  /*210*/
    border-radius: 10px;
    background-color: #f0f1f1;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
.skill-card:hover{
    background-color: #f8f8f8;
}
.skill-card i{
    font-size: 50px;
}
.skill-card h4{
    font-size: 20px;
}
.skill-card p{
    font-size: 13px;
    text-align: center;
    color: #333;
    padding: 10px;
}
.skill-card:hover i{
    color: rgb(13, 8, 168);
    transition: 0.3s;
}
.skill-card:hover h4{
    color: rgb(9, 1, 79);
    transition: 1s;
}

/*project*/
.projects-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 390px));
    justify-content: center;
    gap: 23px;
}
.project-card h3{
    text-align: center;
    font-size: 22px;
}
.project-card:hover h3{
    text-decoration: underline;
}
.project-card{
    display: flex;
    flex-direction: column;
    background-color: rgba(156, 191, 228, 0.139);
    color: #858585;
    border-radius: 10px;
    padding: 10px;
}
.project-card:hover{
  box-shadow:
    0 0 5px #246c8b,
    0 0 20px #3f588a,
    0 0 40px #20c0e3;
    color: #c5dbf5;
    transition: 1.3s;
}
.project-card p{
    margin-bottom: 10px;
}
.project-card .outiles{
    margin-bottom: 25px;
}
.project-card a{
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
    border-radius: 5px;
    padding: 4px 9px;
    color: #072a9f;
    background: #d6dbff;
}
.project-card a:hover{
    background: #072a9f;
    color: #d6dbff;
    transition: 0.3s ease-in-out;
}

/*contacte*/
.contact-container{
    color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 30px;
    justify-content: center;
    padding: 40px;
}
#contact{
    scroll-margin-top: 70px;
}

.contact-info, .contact-form{
    background: linear-gradient(
    135deg,
    #627c7c,
    #749bbe,
    #728698,
    #445764
    );
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    text-align: center;
}
.contact-item i{
    font-size: 35px;
}
.contact-item p, .contact-item a{
    margin-bottom: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.contact-form label{
    margin-bottom: 5px;
}
input, textarea {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
textarea{
    height: 70px;
}
.contact-title{
    text-align: center;
}
.document input[type="file"] {
    display: none;
}
.document {
    display: inline-block;
    padding: 10px 16px;
    background-color: #0aa;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}
.contact-form .submit input{
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.contact-form .submit:hover input{
    color: #ccdbe4;
    background: linear-gradient(
    135deg,
    #445764,
    #6a9ab1
    );
    transition: .9s ease-in-out;
}

/*footer*/
footer{
    background-color: rgba(68, 135, 189, 0.167);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
}
.footer-links{
    display: flex;
    gap: 15px;
}

.footer-links img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
footer p{
    color: #ffffff;
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible,
button:focus-visible{
  outline: 2px solid #38bdf8;
  outline-offset: 3px;
}